@page "/carnames"

@rendermode InteractiveServer

@inject CarRepository carRepository
@inject NameGenerator nameGenerator
@inject CarDoesNotExist carDoesNotExist

@using NJDOT.Models
@using NJDOT.Services
@using NJDOT.Web.Blazor.Data

<PageTitle>Car Names</PageTitle>

@if(cars.Count == 0)
{
    <p>Loading...</p>
}
else
{
    @if (votes.Any(s => string.IsNullOrEmpty(s.Winner)))
    {
        VoteModel tempVote = votes.FirstOrDefault(s => string.IsNullOrEmpty(s.Winner)) ?? new VoteModel();
        <h4>Vote (@votes.Count)</h4>
        <div class="form-group">
            <!-- display two images side by side -->
            <div class="row">
                <div class="col-md-6">
                    <img src="@GetCarImage(tempVote.Car1)" alt="@tempVote.Car1 Car Image"/>
                    <button class="btn btn-primary" @onclick="() => Vote(tempVote.Id, tempVote.Car1)">Vote for @tempVote.Car1</button>
                </div>
                <div class="col-md-6">
                    <img src="@GetCarImage(tempVote.Car2)" alt="@tempVote.Car2 Car Image" />
                    <button class="btn btn-primary" @onclick="() => Vote(tempVote.Id, tempVote.Car2)">Vote for @tempVote.Car2</button>
                </div>
            </div>
        </div>
        <hr />
        <h4>Car Rankings</h4>
        <table>
            <thead>
            <tr>
                <th>Car Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            @foreach (CarModel car in cars.OrderByDescending(s => s.Score).ThenBy(s => s.CarName))
            {
                <tr>
                    <td>@car.CarName</td>
                    <td>@car.Wins</td>
                    <td>@car.Losses</td>
                    <td>@car.Score.ToString("F3")</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3>Cars</h3>
        <div class="form-group">
            <div class="row">
                @foreach (CarModel car in cars.OrderByDescending(s => s.Score).ThenBy(s => s.CarName))
                {
                    <div class="col-md-4">
                        <h4>@car.CarName</h4>
                        <span><strong>Score</strong>: @car.Score.ToString("F3") <strong>Record</strong>: @car.Wins-@car.Losses</span>
                        <img src="@car.CarImage" class="car" alt="@car.CarName Car Image" />
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="form-group">
            <!-- display two images side by side -->
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary" @onclick="async () => await GenerateNewCars()">Add 3 more cars</button>
                </div>
            </div>
        </div>
        <hr />
        <table>
            <thead>
            <tr>
                <th>Car 1</th>
                <th>Car 2</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            @foreach (VoteModel vote in votes)
            {
                <tr>
                    <td class="@(vote.Winner == vote.Car1 ? "winner" : string.Empty)">@vote.Car1</td>
                    <td class="@(vote.Winner == vote.Car2 ? "winner" : string.Empty)">@vote.Car2</td>
                    <td>@vote.Score.ToString("F3")</td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    private List<CarModel> cars = new();
    private List<VoteModel> votes = new();

    protected override async Task OnInitializedAsync()
    {
        votes.AddRange(carRepository.GetAllVotes());
        cars.AddRange(carRepository.GetAllCars());
        if (cars.Count == 0)
        {
            await GenerateNewCars();
        }

        await base.OnInitializedAsync();
    }

    private void Vote(string? voteId, string? winner)
    {
        if (winner == null || voteId == null)
        {
            return;
        }

        carRepository.VoteForWinner(voteId, winner);
        cars = carRepository.GetAllCars();
        votes = carRepository.GetAllVotes();
    }

    private string GetCarImage(string? carName)
    {
        return carName == null ? string.Empty : cars.First(c => c.CarName == carName).CarImage;
    }

    private async Task GenerateNewCars()
    {
        for (int i = 0; i < 3; i++)
        {
            string randomCarName;
            do
            {
                randomCarName = nameGenerator.GetRandomCarName();
            } while (cars.Any(c => c.CarName == randomCarName));

            CarModel newCar = new()
            {
                CarImage = await carDoesNotExist.GetPicture(),
                CarName = randomCarName
            };

            carRepository.AddCar(newCar);
        }

        cars = carRepository.GetAllCars();
        votes = carRepository.GetAllVotes();
    }
}
